# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
src/data

# Environment
.env
.env.*
*.env
*.env.*
!.env.example

# JSON storage (Phase 1)
data/*.json

# IDE
.idea/
.vscode/
*.swp

# Testing
.coverage
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/

# ruff
.ruff_cache/
